<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Festival</title>
<style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
</head>
<body>

	<th:block th:include="/_menu"></th:block>
	<h1>Adding a festival</h1>
	
	<div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
		
		<form th:action="@{addfest}" th:object="${festival}" method="POST">
         <table>
            <tr>
               <td>Festival Name</td>
               <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
               <td>Place</td>
               <td><input type="text" th:field="*{place}" /> </td>
            </tr>
            <tr>
               <td>Date</td>
               <td><input type="date"  pattern="yyyy-MM-dd" th:field="*{date}" /> </td>
            </tr>
            <tr>
               <td>Seating</td>
               <td><input type="text" th:field="*{seating}" /> </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <a th:href="@{/festivals}">Cancel</a>
               </td>
               <td>&nbsp;</td>
            </tr>
         </table>
      </form>

</body>
</html>