<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Festivals</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 
<style type="text/css">
.login-form {
	width: 800px;
	margin: 50px auto;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
}


.login-form h2 {
	margin: 0 0 15px;
	text-align: center;
}

th, td {
	padding: 10px;
}

tr:hover {
	background-color: #fcf8e3;
}

 tr, td {
	border-bottom: 1px solid black;
} 

 table {
	border-collapse: collapse;

} 
</style>	 
	 
</head>
<body>

	<th:block th:include="/_menu"></th:block>


	<div class="login-form">
	<h2>Users list</h2>

	<table border="0">
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Age</th>
			<th>E-mail</th>
			<th>Phone</th>
			<th>User_id</th>
		</tr>
		<tr th:each="user:${users}">
			<td> <a th:text="${user.participant_id}" >123 </a> </td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.phone}"></td>
			<td th:text="${user.user_id}"></td>
			<td>
				<a th:href="@{/users/{userid}/makeadmin(userid = ${user.participant_id})}">Make admin </a>
			</td>
		</tr>
		
	</table>
	</div>
	

</body>
</html>