<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.login-form {
	width: 650px;
	margin: 50px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
	float: left;
}

.login-form h2 {
	margin: 0 0 15px;
	text-align: center;
}

.perf-form {
	width: 350px;
	margin: 50px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
	float: right;
}

.festival-form {
	width: 450px;
	margin: 50px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
	float: left;
}

#showPerfBlock {
	float: right;
}

.info {
	float: left;
	margin: 50px;
	width: 300px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
}

th, td {
	padding: 10px;
}

tr:hover {
	background-color: #fcf8e3;
}

tr, td {
	border-bottom: 1px solid black;
}

table {
	border-collapse: collapse;
}
</style>



<script>
	
	/* Loads table of festivals and hides unpermitted buttons  */ 

	$(function() { 
		
		//hides all buttons that cannot be seen for not logged user
		
		document.getElementById("info").style.display = "none";
		document.getElementById('showAddFestBlock').style.visibility = 'hidden';
		document.getElementById('signup').style.visibility = 'hidden';
		document.getElementById('addPerfBlock').style.display = 'none';  // from for adding performer
		document.getElementById('addFestBlock').style.display = 'none';  // form for adding festival
		document.getElementById('showPerfBlock').style.visibility = 'hidden';

		
		//creates table of festivals

		var result = [];
		$.getJSON('/data/festivals', function(data) {
			$.each(data, function(i, f) {
				var id = f.id;
				var formatted = $.datepicker.formatDate("yy-mm-dd", new Date(
						f.date));
				var addBtn = "<td>" + "<button onClick='showList(" + id
						+ ")'>Show festival</button>" + "</td>";

				var tblRow = "<tr>" + "<td>" + f.name + "</td>" + "<td>"
						+ f.place + "</td>" + "<td>" + formatted + "</td>"
						+ "<td>" + (f.seating - f.participants.length) + "/"
						+ f.seating + "</td>" + addBtn + "</tr>"

				$(tblRow).appendTo("#resultdata tbody");
			});
		});
	});

	/* Shows list of performers and delete buttons */
	
	function showList(id) {
		
		setButtons(id);
		
		//sets festival name to list
		
		var fest = "/data/festivals/" + id;
		$.getJSON(fest, function(data) {
			var name = data.name;
			console.log(name);
			document.getElementById("festName").innerHTML = name;
		});

		// loads list from json
		
		var url = "/data/festivals/" + id + "/perfs";
		$("#performers").empty(); //clear table
		$.getJSON(url, function(data) {
			if (data.lenght != 0) {
				var table = document.getElementById("performers");
				var i = 1;
				$.each(data, function(index, item) { // create performers table
					tr = document.createElement("tr");
					table.append(tr);
					tr.appendChild(td = document.createElement("td"));
					td.innerHTML = item.name;
					tr.appendChild(td = document.createElement("td"));

					var btn = document.createElement('input');
					btn.type = "button";
					btn.id = "deleteperf" + i;
					btn.style = "visibility:hidden;";
					btn.className = "btn";
					btn.value = "Delete";
					btn.onclick = function() {
							location.href="/festivals/" + id + "/deleteperf/" + item.performer_id;   // hides delete buttons if user isnt admin
						};
					td.appendChild(btn);

					findAction("delete", "deleteperf"+i);
					i++;
				});
				

			}
		});

	}
	
	
	// Sets onclick functions of buttons
	
	function setButtons(id) {

		document.getElementById("addperfBtn").onclick = function() { // button for addperf
			addPerformerToFestival(id);
		};
		
		document.getElementById("addFestBtn").onclick = function() { // button for saving neww fest
			addFestival();
		};
		
		document.getElementById("signup").onclick = function() { // button for signup
			location.href = "/festivals/" + id + "/signup";
		};
		
		document.getElementById("info").style.display = "block";
		
		document.getElementById("showPerfBlock").onclick = function() { // button for show performer button
			document.getElementById("addPerfBlock").style.display = "block";
		};
		
		document.getElementById("showAddFestBlock").onclick = function() { // button for show festival block
			document.getElementById("addFestBlock").style.display = "block";
		};
		
		
	}
	
	/* Adds performer to chosen festival */
	
	function addPerformerToFestival(id) {
		const url = "data/festivals/" + id + "/addperf";
		console.log(url);
		fetch(url, {
		    method : "POST",
		    headers: {
	            "Content-Type": "application/json; charset=utf-8",
	        },
		    body : JSON.stringify({
		         name : document.getElementById('perfName').value,

		    })
		}).then(
		    response => response.json() 
		).then(
		    html => console.log(html)
		);
		
		
	}
	
	
	//Adds new festival
	
	function addFestival() {
		const url = "data/festivals/addfest";
		console.log(url);
		fetch(url, {
		    method : "POST",
		    headers: {
	            "Content-Type": "application/json; charset=utf-8",
	        },
		    body : JSON.stringify({
		         name : document.getElementById('newFestName').value,
		         place : document.getElementById('place').value,
		         date: document.getElementById('date').value,
		         seating: document.getElementById('seating').value,

		    })
		}).then(
		    response => response.json() 
		).then(
		    html => console.log(html)
		);
		
	}
	
	
	
</script>

<!-- Finds permitted actions for user and hide or show button -->

<script type="text/javascript">
	//defines wich users have acces to button	

	function findAction(action, button) {
		var neededRole = [];
		$.getJSON('/data/rolesinfo', function(data) {
			$.each(data, function(index, item) {
				if (item.actions.includes(action)) {
					neededRole.push(item.role.role);
					showButton(neededRole, button);
				}

			});

		});

	}

	//shows defined button

	function showButton(roles, button) {
		$
				.getJSON(
						'/data/userroles',
						function(data) {
							if (data != null) {
								$.each(
										data,
												function(index, item) {
													for (let i = 0; i < roles.length; i++) {
														if (item.role == roles[i]) {
															if (document
																	.getElementById(button) != null) {
																document
																		.getElementById(button).style.visibility = 'visible';
																console
																		.log("show Button " + button);
																return true;
															}
														}
													}

												});
							}

							else 
								//document.getElementById(button).style.visibility = 'hidden';
							return false;
							
							

						});
	}

	findAction("change", 'showAddFestBlock');
	findAction("signup", 'signup');
	findAction("addperf", "showPerfBlock");
	
</script>



</head>



<body>

	<th:block th:include="/_menu"></th:block>

	<article>
		<section>
			<div class="login-form">
				<h2>Festivals list</h2>
				<table id="resultdata" border="0">
					<thead>
						<th>Name</th>
						<th>Place</th>
						<th>Date</th>
						<th>Seating</th>
					</thead>
					<tbody>

					</tbody>

				</table>
				<br>
				<button id="showAddFestBlock">Add festival</button>
			</div>

			<!-- Adding festival block -->
			

			<!-- Festival info and add performer form -->

			<aside id="info">

				<section>

				<!-- Table of festival performers -->
					<div class="info">
						<h3 id="festName"></h3>
						<table id="performers">
						</table>
						<br>
						<button id="signup">I'll come</button>
						<button id="showPerfBlock">Add performer</button>
					</div>

					<!-- Performer adding form -->

					<aside style="float: left;" id="addPerfBlock">
						<div class="perf-form">
							<form id="addperf" method="POST">
								<h2 align="center">Adding a performer</h2>
								<table>
									<tr>
										<td>Performer</td>
										<td><input type="text" name="perfName" id="perfName" /></td>
									</tr>
								</table>
								<br>
								<button id="addperfBtn">Add Performer</button>
							</form>
						</div>
					</aside>




				</section>
			</aside>

		</section>
		
		<aside >		
				<div id="addFestBlock" class="festival-form">
					<form id="addFestForm" method="POST">
						<h2 align="center">Adding a festival</h2>
						<table>
							<tr>
								<td>Festival Name</td>
								<td><input type="text" name="newFestName" id="newFestName" /></td>
							</tr>
							<tr>
								<td>Place</td>
								<td><input type="text" name="place" id="place" /></td>
							</tr>
							<tr>
								<td>Date</td>
								<td><input type="date" pattern="yyyy-MM-dd" name="date" id="date" />
								</td>
							</tr>
							<tr>
								<td>Seating</td>
								<td><input type="text" name="seating" id="seating" /></td>
							</tr>
							<tr>
								<td>Performers</td>
								<td><select multiple size="5">
										<option></option>
								</select></td>
							</tr>
						</table>
						<br>
						<button id="addFestBtn">Save Festival</button>
					</form>
				</div>
			</aside>
		




	</article>





</body>


</html>